@model FMB_CIS.Models.ViewModel
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Report Generation";
}

<div id="card-container">
    <div id="card">
        
    </div>
</div>

