# ASP.NET Core
.vscode/
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled files
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config

# NuGet
packages/

# User-specific files
*.rsuser

# Visual Studio Code
.vscode/

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET Scaffolding
ScaffoldingReadMe.txt

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Visual Studio files
.vscode/
.vs/

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled WebAssembly output
bin/BlazorApp/dist/

# Tye
.tye/

# Template and Visual Studio Options
*.vstemplate
.vscodeignore
.vssettings
.vsconfig
/FMB-CIS/FMB-CIS/Files/UserDocs
/FMB-CIS/FMB-CIS/wwwroot/Files/UserDocs
