<div class="container-fluid d-flex flex-column align-items-center justify-content-center">
    <div class="col-md-12 p-md-2 text-start">
        <img src="~/assets/images/logo.png" height="100" />
    </div>
    <hr class="hr" />
    <div class="col-md-12 d-flex flex-column align-items-center text-center my-auto pb-5">
        <div class="mx-5 my-3 px-4 text-secondary text-start">
            <b>USER DATA PRIVACY POLICY</b><br /><br />
            The following Terms and Conditions contain significant agreements involving all users of EMB-DENR’s Integrated Information System (Online PCO). We therefore advise you to please review these terms and conditions carefully and indicate whether you agree or disagree to them by clicking on the corresponding box towards the end of this document.<br /><br />

            All the terms "You", "Your" and "Yours" will refer to the Online PCO user. The terms "We", "Us" and "Our" refer to EMB-DENR. The words "System" refer to Online PCO.<br /><br />

            Your Username is the email address that you have provided in the registration page. The phrase "your access" or "system account" refers to the combination of your email address and password that you have registered in the system. The term "username" and "email address" will be used interchangeably to refer to the set of characters that you use to access the system.<br /><br />

            The term "Confidential Business Information (CBI)" refers to an information considered as trade secret, i.e., an information which:<br />
            (a) is secret in the sense that it is not, as a body or in the precise configuration and assembly of its components, generally known among or readily accessible to persons within the circles that normally deal with kind of information in question;<br />
            (b) has commercial value because it is secret;<br />
            (c) has been subject to reasonable steps under the circumstance, by the person lawfully in control of the information, to keep it secret. The phrase “disclosing party” is the company that have or made the CBI declaration or submission.<br /><br /><br />

            <b>TERMS AND CONDITIONS</b><br /><br />
            1. USER ACCESS<br />
            1.1. When you choose and click on "I Agree," you are construed by us as signifying your confirmation that you have read and understood Online PCO's Terms and Conditions and that you unconditionally bind yourself to all terms and conditions herein. In the event that your availment of a service, facility, or benefit of Online PCO will violate or result in the violation of your agreement with EMB-DENR, you will not avail yourself of such service, facility or benefit of Online PCO.<br />
            1.2. EMB-DENR has the sole discretion to give you access to Online PCO with your use of an Internet-enabled computer, approved browser, your username/email account and password.<br />
            1.3. However, some or all of the services of Online PCO may not be available at certain times due to system maintenance and/or computer, telecommunication, electrical or network failure or any other reasons beyond our control. EMB-DENR will not be liable to you nor will it have to explain the reasons whenever access to the System is unavailable or not possible.<br />
            1.4. Your access to Online PCO through your internet service or network provider in the country from where the service is accessed is subject to and governed by the relevant laws and regulations of that country and by terms and conditions mandated by your internet service or network provider in separate agreements with you.<br />
            1.5. You ascertain that the computer system you use to access Online PCO with your username/email account and password is free from any electronic, mechanical, data failure or corruption, computer viruses and bugs. EMB-DENR shall not be liable for any loss or damage caused by any third parties, including internet browser providers (such as Netscape and Microsoft), internet service providers, their agents and sub-contractors, or by any computer or system virus interference or other harmful components that may interfere with your use of Online PCO.<br />
            1.6. You ascertain that the password that you have registered in the system is strong enough that only you and no one else has knowledge of it. You are responsible of protecting your password such that it shall not be revealed to any other person.<br />
            1.7. EMB-DENR shall always see that the declared or disclosed CBI will remain their confidentiality and will not be disclosed to any other party/parties unless they can provide legal authority coming from the disclosing party. However, EMB-DENR may issue CBI information on either of the following:<br />
            1.7.1. Under an agreement, convention or treaty between the government of the Philippines and other foreign nations, provided that the foreign nation undertakes to keep the information confidential;<br />
            1.7.2. Under an agreement between the Department and other statutory bodies and local authorities, provided that the information is required to fulfill their obligations and provided that they agree to keep the information confidential;<br />
            1.7.3. Under formal instruction of a competent court of law<br />
            1.7.4. To a physician or prescribed medical professional who request the information for the purpose of making a medical diagnosis of, or rendering medical treatment to, a person in an emergency and who agrees, in writing to keep the information confidential; or<br />
            1.7.5. Where the department certifies that the disclosure of the information is in the interest of public health and safety or protection of the environment.<br /><br />

            2.0. SYSTEM SECURITY<br />
            2.1. While EMB-DENR has endeavored to put in measures to secure the System, it has no warranty on the confidentiality, secrecy and security of any information sent out through any internet service provider, network system or other similar system via Online PCO.<br />
            2.2. EMB-DENR shall be entitled to act on all instructions received through the System using your username and password. You shall accept full responsibility for all transactions processed through the use of your username and password whether or not processed with your knowledge or by your authority.<br />
            2.3. We are under no obligation to verify the authenticity or authority of persons effecting your data and instructions sent through Online PCO nor check on its accuracy and completeness. Such instructions shall be deemed correct, complete, irrevocable and binding. You hereby accept full responsibility for all transactions executed via Online PCO done with the use of your username/email account and password.<br />
            2.4. In the event you learn or suspect that someone else who knows your username or password has made unauthorized transactions, you may report the same to EMB-DENR. In any event, we shall not be answerable whatsoever for any transaction done with the use of your username and password, whether or not authorized by you.<br />
            2.5. You agree that we may, without notice and without stating the reason therefor, cancel or refuse to execute any of your instructions at any time without incurring any liability.<br />
            2.6. We shall be indemnified and not be held liable against any and all proceedings, claims, losses, damages or expenses, including legal costs that arise from any of the following conditions:<br />
            2.6.1. Any of your instructions verified by us or by the System as conveyed with the use of your username and password;<br />
            2.6.2. Any unauthorized use of Online PCO, your username and password;<br />
            2.6.3. Any loss or damage caused by any access through your username and password when the same is prohibited, restricted, delayed or otherwise affected by:<br />
            2.6.3.1 any law or regulation of the country from where Online PCO is accessed and/or the terms and conditions prescribed by your internet service or information service provider; or<br />
            2.6.4. Any loss or damage caused by any act or omission of your internet service, information service provider or network provider;<br />
            2.6.5. Any loss or damage due to your interference or tampering with, or alteration or misuse of, or amendment to, Online PCO.<br />
            2.7. There is no responsibility on our part should communications facility malfunction have an effect on the timeliness or accuracy of the instructions sent.<br /><br />

            3.0. PROPRIETARY RIGHTS<br />
            3.1. All trade mark, trade name, service mark, patent copyright remain vested in us and may not be used, copied, modified without the proper notice in writing and consent from us.<br />
            3.2. We will not be liable for the files uploaded in our server(s) by our clients or registrants for any copyright infringement, plagiarism, or any violation in the Intellectual Property Code of the Philippines.<br /><br />

            The Terms and Conditions contained herein are governed by the laws of the Republic of the Philippines and all suits to enforce this Agreement will have to be settled in the proper courts of the Quezon City. I have read and fully understood the Terms and Conditions of Online PCO and hereby agree to be governed by the said terms and conditions.<br /><br />

            CONTACT US<br />
            Don’t hesitate to contact us if you have any question.<br /><br />

            Via Email: recordsco@emb.gov.ph<br />
            Via Phone Number: (02) 8539-4378<br />
        </div>
    </div>
</div>
