
﻿@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel

@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Chainsaw Owner";
}


<div id="card-container">
    <div id="card">
        @if (ViewBag.message != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.message
            </div>
        }
        <form asp-action="Index" method="post" enctype="multipart/form-data">
        <a href="@Url.Action("Index", "Dashboard")" class="mx-2" title="back"><i data-feather="arrow-left" class="text-secondary backBtn"></i></a>
        <div class="row m-0 my-4">
            <div class="col-md-6">
                <div class="p-4 shadow h-100">
                    <h2 class="text-secondary fw-bold mb-4">Seller Details</h2>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            First Name
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_fname" class="form-control" placeholder="Enter first name" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Middle Name
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_mname" class="form-control" placeholder="Enter middle name" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Last Name
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_lname" class="form-control" placeholder="Enter last name" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Suffix
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_suffix" class="form-control" placeholder="Enter suffix (if any)" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Address
                        </label>
                            <textarea asp-for="tbl_Application.supplier_address" class="form-control" placeholder="Enter address"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Email
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_email" class="form-control" placeholder="Enter email" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Contact No.
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_contact_no" class="form-control" placeholder="Enter contact number" />
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-4 shadow h-100">
                    <h2 class="text-secondary fw-bold mb-4">Permit</h2>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Permit Type
                        </label>
                            <select class="form-select" asp-for="tbl_Application.tbl_permit_type_id" aria-label="Permit Type">
                            <option selected disabled>- Select Permit Type -</option>
                            <option value="5">Authority to Lease</option>
                            <option value="6">Authority to Rent</option>
                            <option value="7">Authority to Lend</option>
                            <option value="13">Certificate of Registration</option>
                            <option value="14">Permit to Re-sell/Transfer Ownership</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Number of chainsaws to be issued
                        </label>
                            <input type="text" asp-for="tbl_Application.qty" class="form-control" placeholder="Enter number of chainsaws to be issued" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Specification
                        </label>
                            <input type="text" asp-for="tbl_Application.tbl_specification_id" class="form-control" placeholder="Enter specification" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Purpose
                        </label>
                            <textarea class="form-control" asp-for="tbl_Application.purpose" placeholder="Enter purpose"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Set Date of Inspection
                        </label>
                            <input type="date" asp-for="tbl_Application.date_of_inspection" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

            
        <div class="row m-0 mb-4">
            <div class="col-md-12">
                <div class="p-4 shadow h-100">
                    <div class="d-flex gap-4 mb-5">
                        <h2 class="text-secondary fw-bold m-0">Attach Required Documents</h2>
                            <label asp-for="filesUpload.Files" class="btn btn-primary custom-file-upload">
                                <i data-feather="upload"></i> Upload
                            </label>
                            <input type="file" asp-for="filesUpload.Files" class="form-control" multiple hidden />
                            @* <button type="button" class="btn btn-primary"><i data-feather="upload"></i> Upload</button>*@
                    </div>
                    <div class="d-flex mb-4 gap-3">
                        <div class="card mw-18rem">
                            <div class="card-body">
                                <i class="fas fa-file-pdf text-light-green fs-1 mb-3"></i>
                                <i class="fas fa-ellipsis-v cursor-pointer fs-3 position-absolute end-0 me-3 text-secondary" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">View</a></li>
                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                    <li><a class="dropdown-item" href="#">Download</a></li>
                                </ul>
                                <h6 class="card-title text-secondary">DOC1.pdf</h6>
                                <ul class="list-unstyled small mb-0">
                                    <li><span class="text-muted">type: .pdf</span></li>
                                    <li><span class="text-muted">size: 512kb</span></li>
                                    <li><span class="text-muted">uploaded: 10/4/2023</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card mw-18rem">
                            <div class="card-body">
                                <i class="fas fa-file-word text-light-green fs-1 mb-3"></i>
                                <i class="fas fa-ellipsis-v cursor-pointer fs-3 position-absolute end-0 me-3 text-secondary" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">View</a></li>
                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                    <li><a class="dropdown-item" href="#">Download</a></li>
                                </ul>
                                <h6 class="card-title text-secondary">DOC2.docx</h6>
                                <ul class="list-unstyled small mb-0">
                                    <li><span class="text-muted">type: .docx</span></li>
                                    <li><span class="text-muted">size: 512kb</span></li>
                                    <li><span class="text-muted">uploaded: 10/4/2023</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card mw-18rem">
                            <div class="card-body">
                                <i class="fas fa-file-image text-light-green fs-1 mb-3"></i>
                                <i class="fas fa-ellipsis-v cursor-pointer fs-3 position-absolute end-0 me-3 text-secondary" data-bs-toggle="dropdown" aria-expanded="false"></i>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">View</a></li>
                                    <li><a class="dropdown-item" href="#">Delete</a></li>
                                    <li><a class="dropdown-item" href="#">Download</a></li>
                                </ul>
                                <h6 class="card-title text-secondary">DOC3.jpg</h6>
                                <ul class="list-unstyled small mb-0">
                                    <li><span class="text-muted">type: .jpg</span></li>
                                    <li><span class="text-muted">size: 512kb</span></li>
                                    <li><span class="text-muted">uploaded: 10/4/2023</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="d-flex justify-content-end pe-2 me-1">
            <button class="btn btn-primary mb-4">Submit</button>
        </div>
        </form>
    </div>
</div>

<partial name="~/Views/Modals/ChainsawOwnerModal.cshtml" />



<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        feather.replace();

        $("#btnSubmit").click(function () {
            $("#confirmSubmitModal").modal("show");
        });

        $("#backBtn").click(function () {
            $("#confirmSubmitModal").modal("hide");
        });

        $("#confirmBtn").click(function () {
            $("#confirmSubmitModal").modal("hide");
            $("#confirmSuccessModal").modal("show");
        });
    });
    const form = document.getElementById('OwnerRegForm');
    const showModalButton = document.getElementById('btnSubmit');
    const confirmationModal = document.getElementById('confirmSubmitModal');
    const confirmButton = document.getElementById('confirmBtn');

    // Function to display the modal
    function showModal() {
        confirmationModal.style.display = 'block';
    }

    // Function to hide the modal
    function hideModal() {
        confirmationModal.style.display = 'none';
    }

    // Event listener for the "Submit" button
    showModalButton.addEventListener('click', showModal);

    // Event listener for the "Confirm" button
    confirmButton.addEventListener('click', function () {
        // Submit the form when the "Confirm" button is clicked
        form.submit();
    });

    // Close the modal when the user clicks outside of it
    window.addEventListener('click', function (event) {
        if (event.target === confirmationModal) {
            hideModal();
        }
    });

</script>

<style>
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

    .app-card {
        position: relative;
        background: #fff;
        border-radius: 0.25rem;
    }

    .app-card-doc .app-card-thumb-holder {
        background: #e9eaf1;
        text-align: center;
        position: relative;
        height: 112px;
    }

        .app-card-doc .app-card-thumb-holder .icon-holder {
            font-size: 40px;
            display: inline-block;
            margin: 0 auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: #fff;
            padding-top: 10px;
        }

    .app-card .app-card-link-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
    }

    .app-card .app-card-body.has-card-actions {
        position: relative;
        padding-right: 1rem !important;
    }

    .app-card-doc .app-doc-meta {
        font-size: .75rem;
    }
</style>