@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Announcement Templates";
}

<div id="card-container">
    <div id="card">
        <partial name="/Views/Shared/Underconstruction.cshtml" />
    </div>
</div>