@model FMB_CIS.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Reset Password Sent";
}

<div class="container-fluid d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="col-md-12 p-md-2 text-start">
        <img src="~/assets/images/logo.png" height="100"  />
    </div>
    <hr class="hr" />
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-12 d-flex flex-column align-items-center text-center my-auto pb-5">
                <img src="~/assets/images/lock.png" class="mb-2" />
                <h2 class="text-green mb-4">Forgot Password</h2>
                <p class="fw-bold fs-5 mb-5">Please enter your email address below</p>
                <div class="d-flex flex-column align-items-start mb-5" style="width: min(400px, 100%);">
                    <label class="form-label">Email Address</label>
                    @* @Html.Editor("email", new { htmlAttributes = new { @class = "form-control mb-md-4", @id = "Username", @type = "text", @placeholder = "name@address.com", @tabindex = "1" } }) *@
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control mb-md-4", /* @id = "Username", */ @placeholder = "name@address.com", @tabindex = "1" } })
                    <span asp-validation-for="email" class="text-danger"></span>
                    @* <button type="submit" class="btn btn-primary w-100 mb-4" id="btnSubmitz">Submit</button> *@
                    <input type="submit" value="Submit" class="btn btn-primary w-100 mb-4" />
                </div>
            </div>
        </form>
    
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            var resetPasswordUrl = '@Url.Action("ResetPasswordSent", "Account")';

            window.location.href = resetPasswordUrl;
        });
    });
</script>