@model FMB_CIS.Models.UserRegistrationViewModel
@{
    ViewBag.Title = "Registration";
}

<div class="container-fluid d-flex flex-column align-items-center justify-content-center">
    <div class="col-md-12 p-md-2 text-start">
        <img src="~/assets/images/logo.png" height="100"  />
    </div>
    <hr class="hr" />
    <div class="col-md-12 d-flex flex-column my-auto px-md-4">
        <a href="@Url.Action("Index", "Home")" class="me-auto my-4" title="back"><i data-feather="arrow-left" class="text-secondary backBtn"></i></a>
        <h2 class="text-secondary mb-4">Personal Information</h2>
        <form asp-action="Registration">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group mb-2">
                    <label class="form-label small">User Type</label>
                        <select asp-for="tbl_user_types_id" class="form-select" aria-label="User Type">
                        <option selected>- Select User Type -</option>
                        <option value="1">Chainsaw Importer Only</option>
                        <option value="2">Chainsaw Seller Only</option>
                        <option value="3">Chainsaw Owner Only</option>
                        <option value="4">Chainsaw Importer and Seller</option>
                        <option value="5">Chainsaw Importer and Owner</option>
                        <option value="6">Chainsaw Seller and Owner</option>
                        <option value="7">Chainsaw Importer, Owner, and Seller</option>
                    </select>
                        <span asp-validation-for="tbl_user_types_id" class="text-danger"></span>
                </div>
            </div>
        </div>
        <hr class="my-4" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row mb-4">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="first_name" class="form-label small">First Name</label>
                                        <input asp-for="first_name" class="form-control" />
                                        <span asp-validation-for="first_name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="middle_name" class="form-label small">Middle Name</label>
                                        <input asp-for="middle_name" class="form-control" />
                                        <span asp-validation-for="middle_name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="last_name" class="form-label small">Last Name</label>
                                        <input asp-for="last_name" class="form-control" />
                                        <span asp-validation-for="last_name" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="suffix" class="form-label small">Suffix</label>
                                        <input asp-for="suffix" class="form-control" />
                                        <span asp-validation-for="suffix" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="email" class="form-label small">Email (Please use official email address)</label>
                        <input asp-for="email" class="form-control" placeholder="name@address.com" />
                        <span asp-validation-for="email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="password" class="form-label small">Password</label>
                        <input asp-for="password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="confirmPassword" class="form-label small">Confirm Password</label>
                        <input asp-for="confirmPassword" class="form-control" placeholder="Confirm Password" />
                        <span asp-validation-for="confirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="contact_no" class="form-label small">Contact Number (11 Digits)</label>
                        <input asp-for="contact_no" class="form-control" placeholder="09XX XXX XXXX" />
                        <span asp-validation-for="contact_no" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="birth_date" class="form-label small">Birth Date (Must be 18 years old and above)</label>
                        <input asp-for="birth_date" type="date" class="form-control" />
                        <span asp-validation-for="birth_date" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="valid_id" class="form-label small">Valid ID</label>
                        <input asp-for="valid_id" class="form-control" />
                        <span asp-validation-for="valid_id" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="valid_id_no" class="form-label small">Valid ID Number</label>
                        <input asp-for="valid_id_no" class="form-control" />
                        <span asp-validation-for="valid_id_no" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="street_address" class="form-label small">(TEMP street_address) Address Line 1</label>
                        <input asp-for="street_address" class="form-control" />
                        <span asp-validation-for="street_address" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="tbl_division_id" class="form-label small">DIVISION ID</label>
                        <input asp-for="tbl_division_id" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="tbl_region_id" class="form-label small">Region (ID)</label>
                        <input asp-for="tbl_province_id" class="form-control" />
                        @* <select asp-for="tbl_region_id" class="form-control">
                            <option Selected>--Select Region--</option>
                        </select> *@
                        <span asp-validation-for="tbl_region_id" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="tbl_province_id" class="form-label small">Province</label>
                        <input asp-for="tbl_province_id" class="form-control" />
                        <span asp-validation-for="tbl_province_id" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="tbl_city_id" class="form-label small">City/Municipality</label>
                        <input asp-for="tbl_city_id" class="form-control" />
                        <span asp-validation-for="tbl_city_id" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="tbl_brgy_id" class="form-label small">Barangay(ID)</label>
                        <input asp-for="tbl_brgy_id" class="form-control" />
                        <span asp-validation-for="tbl_brgy_id" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="comment" class="form-label small">Attached Form</label>
                        <input asp-for="comment" class="form-control" />
                        <span asp-validation-for="comment" class="text-danger"></span>
                    </div>
                </div>
                @* <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label small text-white">Attached Form</label>
                        <input type="file" class="form-control" />
                    </div>
                </div> *@
            </div>
            <div class="row mb-5">
                <div class="col-md-4 d-flex flex-column">
                    <small class="text-secondary mb-4">
                        By submitting this form, you agree to our <a href="#" target="_blank">Terms and Conditions</a> & <a href="#" target="_blank">Privacy Policy</a>
                    </small>
                    @* <button id="submitBtn" value="Submit" class="btn btn-primary w-75 mw-75">Submit</button> *@
                    <div class="form-group">
                        <input type="button" id="submitBtn" value="Submit" class="btn btn-primary w-75 mw-75" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="~/Views/Modals/RegistrationModal.cshtml" />

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        feather.replace();

        $("#submitBtn").click(function () {
            $("#confirmSubmitModal").modal("show");
        });

        $("#backBtn").click(function () {
            $("#confirmSubmitModal").modal("hide");
        });

        $("#confirmBtn").click(function () {
            $("#confirmSubmitModal").modal("hide");
            $("#confirmSuccessModal").modal("show");
        });
    });
</script>