@{
    ViewBag.Title = "Forgot Password";
}

<div class="container-fluid d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="col-md-12 p-md-2 text-start">
        <img src="~/assets/images/logo.png" height="100"  />
    </div>
    <hr class="hr" />
    <div class="col-md-12 d-flex flex-column align-items-center text-center my-auto pb-5">
        <img src="~/assets/images/sent.png" class="mb-2" />
        <h2 class="text-green mb-4">Reset Password Request Sent</h2>
        <p class="fw-bold fs-5 mt-4 mb-5 pb-5">
            A confirmation link is sent to your registered email. Please reset your password using the link. <br />
            If you have not received it, please contact your administrator.
        </p>
    </div>
</div>