@{
    ViewBag.Title = "Reset Password";
}

<div class="container-fluid d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="col-md-12 p-md-2 text-start">
        <img src="~/assets/images/logo.png" height="100"  />
    </div>
    <hr class="hr" />
    <div class="col-md-12 d-flex flex-column align-items-center text-center my-auto pb-5">
        <img src="~/assets/images/key.png" class="mb-2" />
        <h2 class="text-green mb-4">Reset Your Password</h2>
        <div style="width: min(300px, 100%);">
            <p class="fw-bold fs-5 text-md-start mb-1">
                New password must be:
            </p>
            <ul class="text-md-start text-secondary mb-4">
                <li>At least 8 characters long</li>
                <li>At least 1 number</li>
                <li>At least 1 lower case character</li>
                <li>At least 1 upper case character</li>
                <li>Minimum of 2 special characters(s)</li>
            </ul>
        </div>
        <div class="d-flex flex-column mb-5" style="width: min(400px, 100%);">
            <div id="success-prompt" class="bg-green border rounded py-2 mb-4">
                <div class="row">
                    <div class="col-md-2 d-flex align-items-center justify-content-end pe-0">
                        <img src="~/assets/images/small-check.png" />
                    </div>
                    <div class="col-md-10 d-flex align-items-center justify-content-center ps-0">
                        <p class="text-white text-start m-0">
                            Your password has been reset successfully.<br />
                            You will be redirected to login page after 5 seconds.<br />
                        </p>
                    </div>
                </div>
            </div>
            <div id="credentials-input" class="d-flex flex-column align-items-start">
                <label class="form-label">Password</label>
                <div class="input-group password-toggle mb-md-2">
                    @Html.Editor("Password", new { htmlAttributes = new { @class = "form-control", @id = "Password", @type = "password", @tabindex = "2", @style = "border-right:none;" } })
                    <span class="input-group-text cursor-pointer show-password" title="show/hide password">
                        <i data-feather="eye" class="data-feather"></i>
                    </span>
                </div>
                <label class="form-label">Confirm Password</label>
                <div class="input-group password-toggle mb-md-4">
                    @Html.Editor("Password", new { htmlAttributes = new { @class = "form-control", @id = "ConfirmPassword", @type = "password", @tabindex = "2", @style = "border-right:none;" } })
                    <span class="input-group-text cursor-pointer show-password" title="show/hide password">
                        <i data-feather="eye" class="data-feather"></i>
                    </span>
                </div>
                <button id="btnSubmit" class="btn btn-primary w-100">Submit</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        feather.replace();

        $('#success-prompt').hide();

        const passwordInput = document.getElementById('Password');
        const confirmPasswordInput = document.getElementById('ConfirmPassword');
        const togglePasswordElements = document.getElementsByClassName('show-password');

        for (const togglePasswordElement of togglePasswordElements) {
            togglePasswordElement.addEventListener('click', function () {
                if (passwordInput.type === 'password' || confirmPasswordInput.type === 'password') {
                    passwordInput.type = 'text';
                    confirmPasswordInput.type = 'text';
                } else {
                    passwordInput.type = 'password';
                    confirmPasswordInput.type = 'password';
                }
            });
        }

        var btnSubmit = document.getElementById('btnSubmit');
            
        btnSubmit.addEventListener('click', function () {
            $('#success-prompt').show();
            $("#credentials-input").removeClass("d-flex");
            $('#credentials-input').hide();

            setTimeout(function () {
                window.location.href = '@Url.Action("Index", "Home")';
            }, 5000);
        });
    });
</script>