@using System.Security.Claims;
@using System.Globalization;
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Assign Access Rights Management";
}

<div class="c-card-container c-card-container-box">
    <div id="card">
        <div class="c-info">
            <div class="card">
                @*<img src="..." class="card-img-top" alt="...">*@@*
                <div class="card-head card-head-image">
                </div>*@
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="@Url.Action("Index", "Home")" class="me-auto" title="back"><i data-feather="arrow-left" class="text-secondary backBtn"></i></a>                        Assign Access Rights
                    </h5>
                    <p class="card-text">Used to assign different access rights to user types.</p>
                    @*<button id="btnCreateOfficeType" onclick="OpenCreateModal()" class="btn btn-primary">Create Access Rights Type</button>*@
                </div>
            </div>
        </div>
        <div class="c-content" id="userTypeAccessRightsListPartialContainer">
            <div class="d-flex justify-content-center">
                <div class="spinner-border m-5" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .c-info {
        width: 25%;
        float: left;
        padding: 12px;
    }

    .c-content {
        width: 75%;
        float: left;
        padding: 12px;
    }

    .card-head {
        width: 100%;
        height: 30px;
    }

    .card-head-image {
        width: 100%;
        height: 30px;
    }

    .card-body {
    }

    .card-margin {
        margin: 12px;
    }

    .list-group-style1 {
    }

        .list-group-style1 .list-group-item {
            margin-bottom: 12px;
        }

            .list-group-style1 .list-group-item + .list-group-item {
                border-top-width: 1px;
            }

    small a {
        color: #14984a;
        padding: 3px 0;
        border: none;
        border-bottom: solid 1px #14984a;
        margin-right: 12px;
        background: none;
        box-shadow: unset !important;
        outline: 0 !important;
        margin: 0 !important;
        margin-right: 12px !important;
        margin-top: 12px !important;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">
    function OpenCreateModal() {
        $('#userTypeAccessRightsCreateModalContainer').load('/AccessRightsManagement/UserTypeAccessRightsCreateModal', function () {
            $("#createAccessRightsTypeModal").modal("show");
        });
    }
    $('#userTypeAccessRightsListPartialContainer').load('/AccessRightsManagement/UserTypeAccessRightsListPartialView');
</script>