body {
    background-color: #f3f3f3;
}

#header {
    position: fixed;
    width: 100%;
    height:150px;
    z-index: 1;
}

#header-top-container {
    height: 70px;
    background-color: #14984a;
    color: white;
    margin-left: 300px;
    transition: all 0.2s ease-in-out;
}

#header-bottom-container {
    width: 100%;
    height: 80px;
    background-color: #282d6d;
    color: white;
    margin-left: 300px;
    transition: all 0.2s ease-in-out;
}

#side-bar {
    position: fixed;
    top: 0;
    width: 300px;
    background-color: white;
    height: min(100vh, 100%);
    z-index: 99;
    /*box-shadow: 0px 0 11px 0px;*/
    border: solid 0.5px lightgray;
}

#toggle-btn:hover {
    transition: all 0.15s ease-in-out;
    color: darkslategray;
}

.side-bar-container {
    height: min(100vh, 100%);
}

#side-bar, #systemImg {
    transition: all .2s ease-in-out !important;
}

#systemTitle {
    transition: all 1s ease-in-out !important;
}

.slide-left {
    margin-left: -200px;
    transition: all .2s ease-in-out !important;
}

#menu-items {
    padding: 55px 0 0 30px;
    
}

    #menu-items li {
        margin-bottom: 15px;
    }

        #menu-items li a:hover {
            color: #14984a;
            transition: all 0.15s ease-in-out;
        }

    #menu-items img {
        height: auto;
        width: 20px;
    }

    #menu-items .active-menu-item span {
        color: #14984a;
    }

#chainsawImporterDropdown, #chainsawSellerDropdown, #chainsawOwnerDropdown, #authorityToLeaseDropdown, #accountManagementDropdown, #officeManagementDropdown, #accessRightsManagementDropdown, #workflowManagementDropdown {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

    #chainsawImporterDropdown.active, #chainsawSellerDropdown.active, #chainsawOwnerDropdown.active, #authorityToLeaseDropdown.active, #accountManagementDropdown.active, #officeManagementDropdown.active, #accessRightsManagementDropdown.active, #workflowManagementDropdown.active {
        max-height: 100%;
        opacity: 1;
        margin-top: 15px;
    }

#main {
    position: fixed;
    margin-left: 300px;
    margin-top: 150px;
    background-color: transparent;
    height: min(100vh, 100%);
    transition: all 0.2s ease-in-out;
    overflow-y:  auto;
    width: 100%;
}

#card-container {
    /* max-height: 78%; */
    background-color: white;
    margin: 30px 330px 190px 30px;
    /*box-shadow: 0 0 11px 0px;*/
    padding: 10px;
    padding-bottom: 24px;
    border-radius: 5px;
    /* overflow-y: auto; */
    border: solid 0.5px lightgray;
    transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f3f3f3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #636363;
    }

.table-container {
    overflow-y: auto;
    overflow-x: auto;
}

.dataTable {
    width: 100%;
    border-collapse: collapse;
}

.dataTables_wrapper {
    color: #5c5c5c;
    margin-top: 1.5rem !important;
}

    .dataTables_wrapper .dataTables_length {
        margin-bottom: 15px;
    }

.table > thead {
    color: white;
    background-color: #282d6d;
}

tbody, td, tfoot, th, thead, tr {
    border-style: none;
}

table tbody tr {
    color: #5c5c5c !important;
    vertical-align: middle;
}

.dataTables_wrapper .dataTables_paginate .paginate_button .current {
    background-color: #14984a;
    color: white;
    padding: 0px;
    border: none;
}

.striped-table {
    width: 100%;
    border-collapse: collapse;
}

    .striped-table th,
    .striped-table td {
        padding: 8px;
    }

        .striped-table th:first-child,
        .striped-table td:first-child {
            padding-left: 5%;
        }
        
        .striped-table th {
        background-color: transparent;
        color: black;
    }

    .striped-table tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

footer {
    position: absolute;
    bottom: 0;
    color: #9f9f9f;
    text-align: center;
    background-color: #f3f3f3;
    width: 100%;
}


@media (max-width: 528px) {
    #header {
        position: relative !important;
        width: 100%;
        height: auto !important;
    }

    #header-top-container {
        height: auto !important;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    #header-top-user {
    }
    #header-top-fullname {
        display: block !important;
        clear: both;
        width: 100%;
        text-align: right;
    }
    #header-top-userrole {
        text-align: right;
    }
    #header-top-usertext {
    }
    #header-top-userimage {
    }
}