body {
    background-color: #f3f3f3;
}

#header {
    position: fixed;
    width: 100%;
    height:150px;
}

#header-top-container {
    height: 70px;
    background-color: #14984a;
    color: white;
    margin-left: 300px;
}

#header-bottom-container {
    width: 100%;
    height: 130px;
    background-color: #282d6d;
    color: white;
    margin-left: 300px;
}

#side-bar {
    position: fixed;
    top: 0;
    width: 300px;
    background-color: white;
    height: min(100vh, 100%);
    z-index: 99;
}

#toggle-btn:hover {
    transition: all 0.15s ease-in-out;
    color: #5c5c5c;
}

.side-bar-container {
    height: min(100vh, 100%);
}

#menu-items {
    padding: 55px 0 0 30px;
    
}

    #menu-items li {
        margin-bottom: 15px;
    }

        #menu-items li a:hover {
            color: #14984a;
            transition: all 0.15s ease-in-out;
        }

    #menu-items img {
        height: auto;
        width: 20px;
    }

    #menu-items .active-menu-item span {
        color: #14984a;
    }

    #main {
        position: fixed;
        margin-left: 300px;
        margin-top: 150px;
        background-color: transparent;
        width: 100%;
        height: min(100vh, 100%);
    }

#card-container {
    max-height: 78%;
    background-color: white;
    margin: 0 330px 0 30px;
    box-shadow: 0 0 11px 0px;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f3f3f3;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #636363;
    }

footer {
    position: absolute;
    bottom: 0;
    color: #9f9f9f;
    text-align: center;
    background-color: #f3f3f3;
    width: 100%;
}