html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /*margin-bottom: 60px;*/
}

/* CUSTOM CSS */
.text-green {
    color: #14984a;
}

.text-dark-blue {
    color: #282d6d;
}

.text-secondary {
    color: #5c5c5c !important;
}

.bg-green {
    background-color: #14984a;
}

.bg-gray {
    background-color: #dcdcdc;
}

.hr {
    border: 2px solid #282d6d;
    opacity: 1;
    width:100%;
}

.w-105 {
    min-width: 105px;
    max-width: 105px;
}


.cursor-pointer {
    cursor: pointer;
}

.input-group.focused {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #14984a;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-left: none;
}

.password-toggle {
    border-radius: 0.25rem;
}
    .password-toggle .form-control:focus, .password-toggle :focus {
        box-shadow: none;
        border-color: #ced4da;
    }

    .password-toggle .input-group-text {
        color: #5c5c5c;
        background-color: #fff;
        border-left: none;
    }

a:hover {
    color: #14984a;
    transition: all 0.15s ease-in-out;
}

a:focus-visible {
    outline: none;
    color: #14984a;
}

button {
    transition: all 0.15s ease-in-out;
}

    button:hover {
        transition: all 0.15s ease-in-out;
        box-shadow: 0px 4px 6px #5c5c5c;
        transform: translateY(-4px);
    }

.data-feather {
    height: 15px;
    width: 15px;
}

.data-feather-20 {
    height: 20px;
    width: 20px
}

.backBtn:hover {
    color: green !important;
    transition: all 0.15s ease-in-out;
}
/* CUSTOM CSS END */

/* BOOTSTRAP OVERRIDE */
::placeholder {
    color: #878787 !important;
    font-size: small;
    font-style: italic;
}

.container-fluid {
    padding: 0;
}

.form-label, a, .form-check-label, p {
    color: #5c5c5c;
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #14984a;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-color: #ced4da;
}

.form-check-input:checked {
    background-color: #14984a;
    border-color: #14984a;
}

.form-check-input:focus, .form-select:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #14984a;
    border-color: #14984a;
}

.btn-primary:focus, .btn:focus {
    background-color: #14984a;
    border-color: #14984a;
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #14984a;
}

.btn-primary, .btn-primary:hover {
    background-color: #14984a;
    border-color: #14984a;
}

    .btn-primary:focus, .btn:focus {
        background-color: #14984a;
        border-color: #14984a;
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #14984a;
    }

.btn-secondary, .btn-secondary:hover {
    color: #14984a;
    background-color: #fff;
    border-color: #14984a;
}

    .btn-secondary:focus, .btn:focus {
        color: #14984a;
        background-color: #fff;
        border-color: #14984a;
        box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #14984a;
    }

.modal-dialog {
    max-width: 500px;
    margin: 0 auto;
}
/* BOOTSTRAP OVERRIDE END */
