@page
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Profile Management";
}

<div id="card-container">
    <div id="card">
        <p>
        
        </p>
    </div>
</div>