@using System.Security.Claims;
@model FMB_CIS.Models.ViewModel
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    ViewBag.Title = "Chainsaw Importer";
}

<div id="card-container">
    <div id="card">
        @if (ViewBag.message != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.message
            </div>
        }
        <form asp-action="Index" method="post" enctype="multipart/form-data">
        <a href="@Url.Action("Index", "Dashboard")" class="mx-2" title="back"><i data-feather="arrow-left" class="text-secondary backBtn"></i></a>
        <div class="row m-0 my-4">
                @*<div class="col-md-6">
               <div class="p-4 shadow h-100">
                    <h2 class="text-secondary fw-bold mb-4">Supplier</h2>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            First Name
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_fname" class="form-control" placeholder="Enter first name" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Middle Name
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_mname" class="form-control" placeholder="Enter middle name" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Last Name
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_lname" class="form-control" placeholder="Enter last name" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Suffix
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_suffix" class="form-control" placeholder="Enter suffix (if any)" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Address
                        </label>
                            <textarea asp-for="tbl_Application.supplier_address" class="form-control" placeholder="Enter address"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Email
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_email" class="form-control" placeholder="Enter email" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Contact No.
                        </label>
                            <input type="text" asp-for="tbl_Application.supplier_contact_no" class="form-control" placeholder="Enter contact number" />
                        <span class="text-danger"></span>
                    </div>
                </div>
                </div>*@
            <div class="col-md-12">
                <div class="p-4 shadow h-100">
                    <h2 class="text-secondary fw-bold mb-4">Bureau of Customs</h2>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Number of chainsaws to be purchased/imported
                        </label>
                            <input type="number" asp-for="tbl_Application.qty" class="form-control" placeholder="Enter number of chainsaws to be purchased/imported" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Specification
                        </label>
                            <textarea class="form-control" asp-for="tbl_Application.tbl_specification_id" placeholder="Enter specification"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Purpose
                        </label>
                            <textarea class="form-control" asp-for="tbl_Application.purpose" placeholder="Enter purpose"></textarea>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Expected time of arrival
                        </label>
                            <input type="date" asp-for="tbl_Application.expected_time_arrival" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Expected time of release
                        </label>
                            <input type="date" asp-for="tbl_Application.expected_time_release" class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    @*
                    <div class="form-group mb-3">
                        <label class="text-secondary fw-bold">
                            Set Date of Inspection
                        </label>
                            <input type="date" asp-for="tbl_Application.date_of_inspection" class="form-control" />
                        <span class="text-danger"></span>
                        </div>*@
                </div>
            </div>
        </div>

        
        <div class="row m-0 mb-4">
            <div class="col-md-12">
                <div class="p-4 shadow h-100">
                    <div class="d-flex gap-4 mb-5">
                        <h2 class="text-secondary fw-bold m-0">Attach Required Documents</h2>
                            <label asp-for="filesUpload.Files" class="btn btn-primary custom-file-upload">
                                <i data-feather="upload"></i> Upload
                            </label>
                            <input type="file" asp-for="filesUpload.Files" class="form-control file" accept="application/pdf" multiple hidden />
                            @* <button type="button" class="btn btn-primary"><i data-feather="upload"></i> Upload</button>*@
                    </div>
                        <div class="d-flex mb-4 gap-3 output">
                            @*Cards for files*@
                            <p id="files-area">
                                <span id="filesList">
                                    <span id="files-names"></span>
                                </span>
                            </p>
                        </div>
                </div>
            </div>
        </div>
        
        <div class="d-flex justify-content-end pe-2 me-1">
                <button id="btnSubmit" type="submit" class="btn btn-primary mb-4">Submit</button>
        </div>
        </form>
    </div>
</div>

<script src="/js/jquery-3.7.1.min.js"></script>

<script type="text/javascript">

    

    $(document).ready(function () {
        const dt = new DataTransfer();

        $(".file").on("change", function (e) {
            // Get the selected file(s)
            console.log($('#filesUpload.Files').val());
            var selectedFiles = $(this).prop("files");
            console.log(selectedFiles);
            var fafile = "";
            // Clear the previous output
            //$(".output").empty();

            // Display file information in the specified format
            for (var i = 0; i < this.files.length; i++) {
                //ifelse for fa-file type
                if (selectedFiles[i].type == "application/vnd.openxmlformats-officedocument.wordprocessingml.document") {
                    fafile = "fa-file-word"
                }
                else if (selectedFiles[i].type == "application/pdf") {
                    fafile = "fa-file-pdf"
                }
                else if (selectedFiles[i].type == "image/jpeg") {
                    fafile = "fa-file-image"
                }
                else {
                    fafile = "fa-file"
                }
                // Create div elements and set their classes and content
                var cardDiv = $("<div>").addClass("card mw-18rem ").attr('id', selectedFiles[i].name);
                var fileDiv = $("<div>").addClass("card-body");
                var fileIcon = $("<i>").addClass("fas " + fafile + " text-light-green fs-1 mb-3");
                var dropdownIcon = $("<i>").addClass("fas fa-ellipsis-v cursor-pointer fs-3 position-absolute end-0 me-3 text-secondary").attr({
                    "data-bs-toggle": "dropdown",
                    "aria-expanded": "false"
                });
                var dropdownMenu = $("<ul>").addClass("dropdown-menu").append(
                    $("<li>").append($("<a>").addClass("dropdown-item").attr("href", "#").text("View")),
                    $("<li>").append($("<a>").addClass("dropdown-item file-delete").attr("href", "#").text("Delete")),
                    $("<li>").append($("<a>").addClass("dropdown-item").attr("href", "#").text("Download"))
                );
                var fileName = $("<h6>").addClass("card-title text-secondary").text(selectedFiles[i].name);
                var fileInfoList = $("<ul>").addClass("list-unstyled small mb-0").append(
                    $("<li>").append($("<span>").addClass("text-muted").text("type: " + selectedFiles[i].type)),
                    $("<li>").append($("<span>").addClass("text-muted").text("size: " + (selectedFiles[i].size / 1024).toFixed(2) + "kb")),
                    $("<li>").append($("<span>").addClass("text-muted").text("uploaded: " + new Date().toLocaleDateString()))
                );

                // Append created elements to the fileDiv
                fileDiv.append(fileIcon, dropdownIcon, dropdownMenu, fileName, fileInfoList);

                // Append the fileDiv to the cardDiv
                cardDiv.append(fileDiv);

                // Append the cardDiv to the output div
                $(".output").append(cardDiv);
            }
            for (let file of this.files) {
                dt.items.add(file);
            }
            
            selectedFiles = dt.files;
            console.log(selectedFiles);
            $('.file-delete').click(function () {
                let name = $(this).closest('.card').attr('id');
                // Supprimer l'affichage du nom de fichier
                //$(this).parent().remove();
                document.getElementById(name).remove()
                for (let i = 0; i < dt.items.length; i++) {
                    // Correspondance du fichier et du nom
                    if (name === dt.items[i].getAsFile().name) {
                        // Suppression du fichier dans l'objet DataTransfer
                        dt.items.remove(i);
                        continue;
                    }
                }
                // Mise à jour des fichiers de l'input file après suppression
                selectedFiles = dt.files;
            });

            
        });
        /*
        $("#btnSubmit").click(function () {
            $("#confirmSubmitModal").modal("show");
        });

        $("#backBtn").click(function () {
            $("#confirmSubmitModal").modal("hide");
        });

        $("#confirmBtn").click(function () {
            $("#confirmSubmitModal").modal("hide");
            $("#confirmSuccessModal").modal("show");
        });
        */
    });



</script>

 <style>
    textarea {
        resize: none;
    }
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }
    .app-card {
        position: relative;
        background: #fff;
        border-radius: 0.25rem;
    }

    .app-card-doc .app-card-thumb-holder {
        background: #e9eaf1;
        text-align: center;
        position: relative;
        height: 112px;
    }

        .app-card-doc .app-card-thumb-holder .icon-holder {
            font-size: 40px;
            display: inline-block;
            margin: 0 auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background: #fff;
            padding-top: 10px;
        }

    .app-card .app-card-link-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
    }

    .app-card .app-card-body.has-card-actions {
        position: relative;
        padding-right: 1rem !important;
    }

    .app-card-doc .app-doc-meta {
        font-size: .75rem;
    }
 </style>