<div class="modal fade" id="confirmSubmitModal" aria-hidden="true" style="z-index:1050 !important;">
    <div class="modal-dialog modal-dialog-centered" style="z-index:1050 !important;">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center gap-4 p-5">
                    <div>
                        <img src="~/assets/images/submit.png" />
                    </div>
                    <p class="fw-bold fs-5">
                        Are you sure you want to submit?
                    </p>
                    <div class="d-flex gap-4 w-100">
                        <button id="backBtn" class="btn btn-danger w-100">Back</button>
                        <button id="confirmBtn" class="btn btn-primary w-100">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmSuccessModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex flex-column align-items-center gap-4 p-5">
                    <div>
                        <img src="~/assets/images/success.png" />
                    </div>
                    <p class="fw-bold fs-5">
                        Application submitted successfully!
                    </p>
                    <div class="d-flex justify-content-center w-100">
                        <button class="btn btn-primary w-50" onclick="window.location.href = '@Url.Action("Index", "ChainsawOwner")'">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>