@model FMB_CIS.Models.ViewModel
<div class="modal fade" id="uploadPOPModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <form asp-controller="Application" asp-action="UploadProofOfPayment" id="UploadPaymentForm" method="post" enctype="multipart/form-data">
                    <div class="d-flex flex-column align-items-center gap-4 p-5">
                        <p class="fw-bold fs-5" id="addPayment">
                            Attach Proof of Payment
                        </p>                        
                        @* <div class="row w-100">
                            <div class="col-md-12">
                                <div class="form-group mb-3">
                                    <label class="form-label small">Attach Files</label>
                                    <input type="file" class="form-control" multiple />
                                </div>
                            </div>
                        </div> *@
                        <div class="row w-100">
                            <div class="col-md-12">
                                @* <h2 class="text-secondary fw-bold m-0">Upload Proof of Payment</h2> *@
                                <label asp-for="filesUpload.Files" class="btn btn-primary custom-file-upload">
                                    <i data-feather="upload"></i> Upload Proof of Payment
                                </label>
                            </div>

                            <input type="file" asp-for="filesUpload.Files" class="form-control file" multiple hidden />
                            @* <button type="button" class="btn btn-primary"><i data-feather="upload"></i> Upload</button>*@
                        </div>
                        <div class="row w-100 output">
                            @*Cards for files*@
                        </div>
                        @Html.HiddenFor(x=>x.tbl_Application.id,new { @id = "applicationID" })
                        @Html.Hidden("actionName", @ViewContext.RouteData.Values["action"].ToString())
                        <div class="d-flex gap-4 w-100">
                            <button id="cancelBtn" type="button" class="btn btn-danger w-100">Cancel</button>
                            <button id="submitBtn" type="submit" class="btn btn-primary w-100">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
